<!-- <div style="height: 80px;"></div> -->
<div class="container">
  <h1>Quote</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <br>
    <mat-form-field class="full-width">
      <mat-label>Bedrooms</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <br>
    <mat-form-field class="full-width">
      <mat-label>Bathrooms</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>How often?</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>What type?</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </form>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" >
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>

</div>