<!-- <div style="height: 80px;"></div> -->
<div class="container">
  <h1>Quote</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <br>
    <mat-form-field class="full-width">
      <mat-label>Bedrooms</mat-label>
      <mat-select>
        <mat-option *ngFor="let room of roomCount" [value]="room">
          {{room}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Bathrooms</mat-label>
      <mat-select>
        <mat-option *ngFor="let room of roomCount" [value]="room">
          {{room}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Pets</mat-label>
      <mat-select>
        <mat-option *ngFor="let pets of roomCount" [value]="pets">
          {{pets}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>How often?</mat-label>
      <mat-select>
        <mat-option *ngFor="let often of oftenCount" [value]="often">
          {{often}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>What type?</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of cleanTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <br>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let addTypes of additionalTypes" [value]="addTypes">
        {{addTypes}}
      </mat-radio-button>
    </mat-radio-group> -->
  </form>
  <section class="example-section">
    <br> <mat-checkbox class="example-margin" [(ngModel)]="refridgerator">Will you supplies?</mat-checkbox>
    <br> <mat-checkbox class="example-margin" [(ngModel)]="refridgerator">Refridgerator</mat-checkbox>
    <br> <mat-checkbox class="example-margin" [(ngModel)]="ovenCleaning">Oven cleaning</mat-checkbox>
    <br> <mat-checkbox class="example-margin" [(ngModel)]="wallWashing">Wall washing</mat-checkbox>
    <br> <mat-checkbox class="example-margin" [(ngModel)]="miniBlinds">Mini Blinds</mat-checkbox>
    <br> <mat-checkbox class="example-margin" [(ngModel)]="lightFixtures">Lght Fixtures</mat-checkbox>
  </section>
</div>