@import (less) "../../assets/font-styles.less";

h1 {
    color: navy;
}

.container {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr minmax(450px, 2fr) minmax(200px, 1fr) 1fr;
    grid-template-areas: " . form estimate ."
}
.form {
    margin: 0 25px;
    grid-area: form;
}
.full-width {
    width: 100%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-margin {
    margin: 0 10px;
}
.example-section {
    // display: flex;
    // align-content: center;
    // align-items: center;
    // height: 60px;
}
.estimate {
    grid-area: estimate;
    // background: url('../../assets/spray.png') no-repeat fixed bottom center;
    // background-size: cover;
    // width: 100%;
}
.card {
    background-color: lightblue;
    // position: fixed;
    padding: 2px 10px 15px 10px;
    border-radius: 3px;
    width: 100%;
}
.price {
    top: 100px;
}
.book {
    top: 250px;
}
@media only screen and (max-width: 650px) {
    .container {
        margin: 100px 0;
        display: grid;
        grid-template-columns: 1fr minmax(200px, auto) 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: " . form ."". estimate ."
    }

    // .price {
        // width: 100%;
        // margin: 0;
        // left: ;
        // position: fixed;
        // top: initial;
        // bottom: 0;
    // }
}