h1 {
    color: navy;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(450px, 2fr) minmax(200px, 1fr) 1fr;
    grid-template-areas: " . form results ."
}
.form {
    margin: 100px 25px;
    grid-area: form;
}
.full-width {
    width: 100%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-margin {
    margin: 0 10px;
}
.example-section {
    // display: flex;
    // align-content: center;
    // align-items: center;
    // height: 60px;
}