h1 {
    color: navy;
}

.container {
    width: 60%;
    margin: 100px 30% 150px 30%;
}
.full-width {
    width: 60%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}