@primary-color: navy;
@primary-bg: #f2f4f6;
@secondary-color: rgb(70, 70, 95);
@secondary-bg: @primary-bg;

/* desktop topnav state */
:host {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 50px;
    color: navy;
}

*,
*::before,
*::after {
    background-color: @primary-bg;
    box-sizing: border-box;
}

.topnav {
    display: grid;
    grid-template-columns: 1fr minmax(250px, auto) minmax(600px, auto) 1fr;
    grid-template-areas: '. logo navs .';

    .logo {
        grid-area: logo;

        a {
            font-size: 48px;
        }
    }

}

.topnav.opening {
    opacity: 1;
    transform: translateY(0px);
    animation-name: slide-in;
    animation-duration: .5s;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.topnav.hidden {
    opacity: 0;
    transform: translateY(-100px);
    animation-name: slide-out;
    animation-duration: .5s;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

nav {
    grid-area: navs;
    display: grid;
    place-items: center end;


    a {
        font-family: 'Source Sans',
            sans-serif;
        font-size: 1.0em;
        color: @primary-color;
        text-decoration: none;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        display: inline-flex;
        box-sizing: content-box;
        padding: 0 15px;
    }
}

.nav-toggle-label {
    display: none;
}

@media only screen and (max-width: 850px) {
    // RESPONSIVE, MENU CLOSED
    .topnav {
        grid-template-columns: auto minmax(250px, auto) minmax(auto, 250px) auto;
    }
    
    .nav-toggle-label {
        margin-right: 1em;
        grid-area: navs;
        font-size: 2.2rem;
        display: grid;
        place-items: center end;
    }
    
    nav {
        color: @primary-color;
        position: absolute;
        grid-area: inherit;
        display: block;
        width: 100%;
        top: 80px;
        left: 0;
        transform: scale(1, 0);
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    nav li {
        margin: 1em;
        text-align: center;
        display: block;
    }
    
    nav a {
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    
    // RESPONSIVE, MENU OPENED
    nav.responsive {
        transform: scale(1, 1);
        transform-origin: top;
        transition: transform 150ms ease-in-out;

    }

    nav.responsive a {
        opacity: 1;
        transition: opacity 150ms ease-in-out 50ms;
    }

    nav.closing {
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 150ms ease-in-out;
        
    }

}
