
.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-container>* {
    margin: 0 30%;
    width: 40%;
}
.full-width {
    margin: 15px 0 0 0;
    width: 100%;
}