.contact-us{
    min-height: 400px;
    // min-width: auto;
    // max-width: 750px;
}

form {
    // widows: ;
    width: 100%;
    max-width: 450px; 
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-sizing: content-box;
}

.full-width {
    margin: 15px 0 0 0;
    width: 100%;
}
h1 {
    color: navy;
    margin-bottom: 10px;
}
h5 {
    margin: 0;
}

 button {
     padding: 10px;
     border-radius: 5px;
     border-width: 0;
     background-color: navy;
     color: white;

     &:hover {
         background-color: blue;
         cursor: pointer;
     }

     &:disabled {
         background-color: gray;
         color: lightgray;
         cursor: inherit;
     }
 }