<!--The content below is only a placeholder and can be replaced.-->
<app-toolbar></app-toolbar>
<header class="hero-nav">
  <nav>
    <span class="logo"><a href="#">Grace Clean</a></span>
    <div class="nav-sections">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="hero">
  <div>
    <h1>The Valley's New Cleaning Service!</h1>
  </div>
  <div>
    <h2>How often do you need cleaning?</h2>
  </div>
  <div class="service-amount">
    <ul>
      <li class="button">Weekly</li>
      <li class="button">Twice Per Month</li>
      <li class="button">Monthly</li>
      <li class="button">Once</li>
      <li class="button">Move In / Move Out</li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">
    <h1>Four Core Values</h1>
  </div>
  <div class="row-2">
    <div class="left">
      <h2>Friendly</h2>
      <h4> We want to provide you the best experience to make your day better</h4>
    </div>
    <div class="right">
      <h2>Convinient</h2>
      <h4>We provide tools to make scheduling and customizing easy</h4>
    </div>
  </div>
  <div class="row-2">
    <div class="left">
      <h2>Reliable</h2>
      <h4>We want our services to be the best in the industry so you can take deep breaths</h4>
    </div>
    <div class="right">
      <h2>Trust</h2>
      <h4>We are bonded and ensured so you can trust your home to us</h4>
    </div>
  </div>
</div>

<div id="form" class="section secondary">
  <div class="row-2">
    <div class="left">
      <div class="text">
        <h2>Get a quote now!</h2>
        <h4> Fill out a form now <br> and get your quote under a minute </h4>
      </div>
    </div>
    <div class="right">
      <img src="../assets/form-white.svg" alt="" style="width: 75%;">
    </div>
  </div>
</div>

<div class="section">
  <div class="row-2">
    <div class="right">
      <div class="text">
        <h2>Schedule your appointment online</h2>
        <h4> Look at our calendar and schedule us quickly and to your convenience </h4>
      </div>
    </div>
    <div class="left">
      <img src="../assets/calendar.svg" alt="" style="width: 75%;">
    </div>
  </div>
</div>
<div class="footer">
  <div class="section secondary">
    <app-logo></app-logo>
    <hr>
    <div class="row-2">
      <div class="right">
        Our areas of operation: <br>
        Central Phoenix <br>
        South Phoenix <br>
        East Phoenix <br>
        Chandler <br>
        Tempe <br>
        Awhatukee <br>
        Scottsdale
      </div>
      <div class="left">
        Contact Information<br>
        (602)XXX-XXXX <br>
        hallo@gracecleanaz.com
      </div>
    </div>
  </div>
  <div style="width: 100; background-color: rgb(69, 69, 95); color: lightgray; font-size: 12px; text-align: center; padding: 25px;">
    @2019 all rights reserved <br>
    created by <a href="#" style="color: white;">Miguel Gutierrez</a>
  </div>

</div>

<router-outlet></router-outlet>