
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<div class="footer">
  <div class="section secondary">
    <app-logo></app-logo>
    <hr>
    <div class="row-2">
      <div class="right">
        <h2>Our areas of operation</h2>
        Central Phoenix <br>
        South Phoenix <br>
        East Phoenix <br>
        Chandler <br>
        Tempe <br>
        Awhatukee <br>
        Scottsdale
      </div>
      <div class="left">
        <div>
          <h2>Contact Information</h2>
          (480) 779-7210 <br>
          hallo@gracecleanaz.com
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100; background-color: rgb(69, 69, 95); color: lightgray; font-size: 12px; text-align: center; padding: 25px;">
    @2019 all rights reserved <br>
    created by <a href="#" style="color: white;">Miguel Gutierrez</a>
  </div>

</div>