.container {
    margin-top: 80px;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 900px) 1fr;
    grid-template-areas: '. appointment .';

    background-color: #d8e8ec91;
    background-image: url(https://cdn.hipwallpaper.com/i/93/15/pS9IQz.jpg);
    background-size: cover;
    background-blend-mode: lighten;
}
.card {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
    // display: grid;
    h4 {
        display: inline;
    }
    button {
        float: right;
    }
}
.main-content, .loading {
    grid-area: appointment;
    min-height: 500px;
}
.section-title {
    box-sizing: content-box;
}
.appointment-container {
    display: grid;
    grid-template-columns: minmax(250px, 400px) minmax(250px, 400px) ;
    grid-template-areas: 'contact date';
    grid-column-gap: 20px;

}

.contact-information {
    grid-area: contact;
}

.date-picker {
    grid-area: date;
}

.full, .full-width {
    width: 100%;
}
.submit-form {
    width: 100%;
    text-align: end;
    margin: 25px 0;
}

.card {
    h4 {
        margin: 0;
        
    }
}
.slots {
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    h4 {
        margin: 2px;
    }
    .empty {
        width: 100%;
        text-align: center;
        padding-top: 50px;
        color: gray;
    }
    ul {
        list-style: none;
        padding: 5px 10% 5px 10%;
        text-align: center;
    }
    li {
        display: inline-block;
        border-radius: 3px;
        margin: 5px 5px;
        padding: 5px;
        text-align: center;
        width: 40%;
        list-style: none;
        background-color: navy;
        color: white;

        &:hover {
            color: black;
            background-color:rgb(213, 220, 226);
        }
    }
    .selected {
        background-color: rgb(185, 205, 223);
        color: black;
    }
}

.pretty-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f9fdfff1;
    margin: 15px;
}
@media only screen and (max-width: 650px) {
    .appointment-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'contact''date';
        grid-column-gap: 20px;
    }
    .contact-information {
        padding: 10px;
    }
    
    .date-picker {
        // padding: 10px;
    }


}