<div style="height: 80px;"></div>
<div class="container">
  <div class="title">
    <h1>Our Services</h1>
    <h3>We are committed to bringing you the best cleaning solutions in the valley!</h3>
  </div>
  <ul class="content-list">
    <li>
      <h2>Family Homes & Estates</h2>
      <h4>Keeping your home clean & having a busy schedule can become a hassle, but not anymore! Give us a call, we got it!</h4>
    </li>
    <li>
      <h2>Real Estate & Open House</h2>
      <h4>Wow! Your potential buyers with an outsanndingly clean home. We can help you have a successful open house and/or showing.</h4>
    </li>
    <li>
      <h2>Party & Event & Special Occasion</h2>
      <h4>Celebrations should never be stressful! Stop worrying about tomorrow's clean-up, we got it!</h4>
    </li>
    <li>
      <h2>Move-in & Move-out Cleaning</h2>
      <h4>Whether you're relocating your office or simply changing homes, we can help clean up before or after the move.</h4>
    </li>
    <li>
      <h2>Office & Commercial Buildings</h2>
      <h4>A clean space increases productivity & improves moods in the workplace. Let us help you achieve a clean & happy workplace. </h4>
    </li>
  </ul>
</div>
<div class="image-cont">
  <img src="https://images.unsplash.com/photo-1543936014-81db3ef51ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1882&q=80" alt="">
</div>