<div style="height: 80px;"></div>
<div>
  <div style="text-align: center; margin: 50px;">
    <h1>Our Services</h1>
    <h3>We are committed to bringing you the best cleaning solutions in the valley!</h3>
  </div>
  <ul class="content-list">
    <li>
      <h2>Family Homes & Estates</h2>
      <h4>Keeping your home clean & having a busy schedule can become a hassle, but not anymore! Give us a call, we got it!</h4>
    </li>
    <li>
      <h2>Real Estate & Open House</h2>
      <h4>Wow! Your potential buyers with an outsanndingly clean home. We can help you have a successful open house and/or showing.</h4>
    </li>
    <li>
      <h2>Party & Event & Special Occasion</h2>
      <h4>Celebrations should never be stressful! Stop worrying about tomorrow's clean-up, we got it!</h4>
    </li>
    <li>
      <h2>Move-in & Move-out Cleaning</h2>
      <h4>Whether you're relocating your office or simply changing homes, we can help clean up before or after the move.</h4>
    </li>
    <li>
      <h2>Office & Commercial Buildings</h2>
      <h4>A clean space increases productivity & improves moods in the workplace. Let us help you achieve a clean & happy workplace. </h4>
    </li>
  </ul>
</div>
<div class="image-cont">
  <img src="https://images.unsplash.com/photo-1543936014-81db3ef51ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1882&q=80" alt="">
</div>
<!-- 
  <h1>homes</h1>
  <h5>our services include, but are not limited to: </h5>
  <ul>
    <li>kitchen</li>
    <li>living rooms</li>
    <li>bathrroms</li>
    <li>bedrooms</li>
  </ul>
</div>

<div>
  <h1>offices</h1>
  <ul>
    <li>kitchens</li>
    <li>restrooms</li>
    <li>desks/cubicles</li>
    <li>vacuum floors</li>
    <li>and more...</li>
  </ul>
</div>

<div>
  <h1>real estate</h1>
  <h5></h5>
  <ul>
    <li>cleaning carpets</li>
    <li>walls</li>
    <li>outside walls</li>
    <li>windows</li>
  </ul>
</div> -->