<div style="height: 80px;"></div>
<div>
  <h1>homes</h1>
  <h5>our services include, but are not limited to: </h5>
  <ul>
    <li>kitchen</li>
    <li>living rooms</li>
    <li>bathrroms</li>
    <li>bedrooms</li>
  </ul>
</div>

<div>
  <h1>offices</h1>
  <ul>
    <li>kitchens</li>
    <li>restrooms</li>
    <li>desks/cubicles</li>
    <li>vacuum floors</li>
    <li>and more...</li>
  </ul>
</div>

<div>
  <h1>real estate</h1>
  <h5></h5>
  <ul>
    <li>cleaning carpets</li>
    <li>walls</li>
    <li>outside walls</li>
    <li>windows</li>
  </ul>
</div>
