@primary-color: navy;
@primary-bg: #f2f4f6;
@secondary-color: rgb(70, 70, 95);
@secondary-bg: @primary-bg;

@alt-color: #ffb03a;
@on-alt-color: white; 

h2 {
    color: @primary-color;
}


/* SECTION */
a {
    text-decoration: none;
}
.section {
    width: 100%;
    text-align: center;
    box-sizing: content-box;
    padding: 10px;
    background-color: @secondary-bg;

}

.section-title {
    grid-area: title;

    h1 {
        color: @primary-color;
    }
}
.large {
    padding: 100px 0;
}
.row-2 {
    display: grid;
    grid-template-columns: 1fr 350px 1fr 350px 1fr;
    grid-template-areas: "   . left . right .";

    h4 {
        color: @secondary-color;
    }

    .left {
        grid-area: left;
        display: grid;
        place-items: center center;
    }

    .right {
        grid-area: right;
        display: grid;
        place-items: center center;

    }


}

.secondary {
    background-color: @secondary-color;
    color: @secondary-bg;

    h2,
    h4 {
        color: @secondary-bg;
    }
}

#form {
    background-color: @secondary-color;

    h4 {
        color: @secondary-bg;
    }
}

.footer {
    app-logo {
        display: grid;
        justify-items: flex-start;
    }

    .left,
    .right {
        place-items: flex-start flex-start;
        text-align: left;
    }
}


.service {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, auto));
    grid-column-gap: 25px;
    grid-template-rows: 100px 250px;
    grid-area: 
    'title'
    'pic';

}

.service-item {
    h2 {
        grid-area: title;
    }
    img {
        grid-area: pic;
        height: 200px;
    }
}

/* HERO */
h3 {
    margin: 2px;
    font-size: 1.1rem;
}

.hero {
    width: 80%;
    height: 300px;
    box-sizing: content-box;
    padding: 15% 10%;
    background: url(./../../assets/03-home-2-1.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-blend-mode: overlay;
    background-color: #dcdcdcbd;


    h1 {
        color: navy;
    }

    h2 {
        color: @primary-color;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: inline-block;
        margin: 5px 5px 0 0;
    }
}

/* NAVBAR */
nav {
    position: absolute;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr minmax(250px, auto) minmax(600px, auto) 1fr;
    grid-template-areas: '... logo sections ...';
    color: @primary-color;

    a {
        text-decoration: none;
        color: inherit;
        font-size: 1.1em;


    }

    ul,
    li {
        list-style: none;
    }

    .logo {
        grid-area: logo;
        display: grid;
        justify-items: flex-start;
        align-items: center;
        font-family: 'Playball',
            cursive;

        a {

            font-size: 48px;
        }
    }

    .nav-sections {
        grid-area: sections;
        display: grid;
        justify-items: flex-end;
        align-items: center;

        a {
            font-family: 'Source Sans',
                sans-serif;
        }
    }

    li {
        display: inline-flex;
        box-sizing: content-box;
        padding: 0 15px;

        &:hover {
            background-color: @secondary-bg;
            color: @secondary-color;
        }
    }
}

@media only screen and (max-width: 850px) {
    .hero-nav {
        display: none;
    }

    .row-2 {
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "   . left ."
            "   . right .";
    }
    .service {
        display: block;
        width: 100%;
        .service-item {
            width: 100%;
        }
    }
}

.button {
    border-radius: 5px;
    background-color: @primary-color;
    color: @primary-bg;

    padding: 7px;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
        background-color: @secondary-color;
    }
}

.button.alternate {
        background-color: @alt-color;
        color: @on-alt-color;
    }

.star {
    position: relative;

    display: inline-block;
    width: 0;
    height: 0;

    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;

    border-right: .3em solid transparent;
    border-bottom: .7em solid @alt-color;
    border-left: .3em solid transparent;

    /* Controlls the size of the stars. */
    font-size: 24px;

    &:before,
    &:after {
        content: '';

        display: block;
        width: 0;
        height: 0;

        position: absolute;
        top: .6em;
        left: -1em;

        border-right: 1em solid transparent;
        border-bottom: .7em solid @alt-color;
        border-left: 1em solid transparent;

        transform: rotate(-35deg);
    }

    &:after {
        transform: rotate(35deg);
    }
}