<div class="hero">
  <div>
    <h1>The Valley's New Cleaning Service!</h1>
  </div>
  <div>
    <h2>How often do you need cleaning?</h2>
  </div>
  <div class="service-amount">
    <ul>
      <a routerLink="/quote"><li class="button">Weekly</li></a>
      <a routerLink="/quote"><li class="button">Twice Per Month</li></a>
      <a routerLink="/quote"><li class="button">Monthly</li></a>
      <a routerLink="/quote"><li class="button">Once</li></a>
      <a routerLink="/quote"><li class="button">Move In / Move Out</li></a>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">
    <h1>Four Core Values</h1>
  </div>
  <div class="row-2">
    <div class="left">
      <h2>Friendly</h2>
      <h4> We want to provide you the best experience to make your day better</h4>
    </div>
    <div class="right">
      <h2>Convinient</h2>
      <h4>We provide tools to make scheduling and customizing easy</h4>
    </div>
  </div>
  <div class="row-2">
    <div class="left">
      <h2>Reliable</h2>
      <h4>We want our services to be the best in the indUustry so you can take deep breaths</h4>
    </div>
    <div class="right">
      <h2>Trust</h2>
      <h4>We are bonded and ensured so you can trust your home to us</h4>
    </div>
  </div>
</div>

<div class="section large" style="background-color: white;">
  <div class="section-title">
    <h1>Our Services</h1>
  </div>
  <div class="service">
    <div class="service-item">
      <h2>Residential</h2>
      <img src="../../assets/home.jpg" alt="">
    </div>
    <div class="service-item">
      <h2>Communal</h2>
      <img src="../../assets/office.jpg" alt="">
    </div>
    <div class="service-item">
      <h2>Commercial</h2>
      <img src="../../assets/real-estate.jpg" alt="">
    </div>
  </div>
</div>

<div id="form" class="section large secondary">
  <div class="row-2">
    <div class="left">
      <div class="text">
        <h2>Get a quote now!</h2>
        <h4> Fill out a form now <br> and get your quote under a minute </h4>
        <a routerLink="/quote"><button class="button">GET QUOTE</button></a>
      </div>
    </div>
    <div class="right">
      <img src="../assets/form-white.svg" alt="" style="width: 75%;">
    </div>
  </div>
</div>

<div class="section large">
  <div class="row-2">
    <div class="right">
      <div class="text">
        <h2>Schedule your appointment online</h2>
        <h4> Look at our calendar and schedule us quickly and to your convenience </h4>
        <a routerLink="/appointment" routerLinkActive="active"><button>set appointment</button></a>
      </div>
    </div>
    <div class="left">
      <img src="../assets/calendar.svg" alt="" style="width: 75%;">
    </div>
  </div>
</div>